body {
  font-family: sans-serif;
  text-align: center;
}
.display-1 {
  font-size: 30px;
  margin-left: 70px;
  margin-bottom: 20px;
}
.container:nth-child(7) {
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  background-color: aliceblue;
  width: 400px;
  padding: 30px 50px;
  border-radius: 20px;
  border: 1px solid black;
}
input {
  width: 100%;
  margin-top: 10px;
  display: block;
  border-radius: 5px;
  border: 1px solid black;
  height: 30px;
  padding-left: 10px;
}
input[type="submit"] {
  width: 40%;
  margin-left: 30%;
  margin-top: 20px;
  background-color: azure;
  font-weight: 700;
}
