{% extends 'courses/base.html' %}
{% load course_custom_tags %}
{% block title %}
    Checkout
{% endblock %}

{% block content %}
<br>
<br>


{% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
{% else %}

<div class="container mt-5">
    <div class="row">
        <!-- Thông tin khóa học -->
        <div class="col me-auto ">
            <div class="card ms-auto" style="width: 18rem;">
                <img class="card-img-top" src="{{course.thumbnail.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{course.name}}</h5>
                    <p class="card-text m-0 p-0">
                        Save {{course.discount}}%
                        <br>
                        <span class="price">
                            <del>{{course.price|usd}}</del>
                            &nbsp;

                            <span>{% cal_sellprice course.price course.discount as value %} {{value|usd}}</span>
                        </span>

                    </p>
                </div>

            </div>
        </div>

        <!-- Form thanh toán PayPal -->
        <div class="col-md-6">
            <h3 class="mb-4">Complete Your Payment</h3>
            <hr>
            {% if coupon %}
            <p class="alert alert-light border">
                Coupon Code Applied
                You Have Got {{coupon.discount}}% Discount
            </p>
            <p class="display-5">Payable Amount: <b>{% cal_sellprice course.price coupon.discount as value %} {{ value|usd }}</b></p>
            {% else %}
            <p class="display-5">Payable Amount: <b>{% cal_sellprice course.price course.discount as value %} {{ value|usd }}</b></p>
            {% endif %}
            <br>
            <div class="border p-4 rounded border-success">
                <p>Coupon Code:</p>
                <form action="" method="get">
                    <div class="col-lg-5">
                        <input type="text" name="couponcode" class="form-control" id="">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Apply" class="btn btn-primary">
                    </div>
                </form>
                {% if coupon_code_message %}
                    <div class="alert alert-info">
                        {{coupon_code_message}}
                    </div>
                {% endif %}
            </div>

            <br>
            <br>
            <!-- Tạo form với nút bấm tùy chỉnh -->
            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="sb-81itd33520845@business.example.com">
                <input type="hidden" name="item_name" value="{{ course.name }}">
                <input type="hidden" name="amount" value="{{ value }}">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="invoice" value="{{ uuid.uuid4 }}">
                <input type="hidden" name="notify_url" value="http://{{ request.get_host }}{% url 'paypal-ipn' %}">
                <input type="hidden" name="return" value="http://{{ request.get_host }}{% url 'payment_success' course.slug %}">
                <input type="hidden" name="cancel_return" value="http://{{ request.get_host }}{% url 'payment_cancel' course.slug %}">
                <button type="submit" class="btn btn-primary">Pay with PayPal</button>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endif %}
{% endblock %}