{% extends "courses/base.html" %}
{% load static %}
{% load course_custom_tags %}

{% block title %} Courses {% endblock %}




{% block css %}
    <link rel="stylesheet" href="{% static "courses/css/scrollbar.css" %}">
    <link href="{% static 'courses/css/common.css' %}" rel="stylesheet">
    <link href="{% static 'courses/css/courses_page.css' %}" rel="stylesheet">
    <link href="{% static 'courses/css/next_previous.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
    <script src="{% static "courses/js/course_page.js" %}"></script>
    <script src="{% static "courses/js/course_page(1).js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div>
            <br>
            <div id="card" class="card p-3">  
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <iframe id='player' width="100%" height="120" src="https://www.youtube.com/embed/{{ video.video_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        
                        <div class="border rounded p-2">
                            <div class="d-flex justify-content-between">
                                <div id="previous">
                                    {% if previous_lecture %}
                                    <a class="btn btn-success" href="?lecture={{previous_lecture}}">Previous</a>
                                    {% else %}
                                    <a class="btn btn-success disabled">Previous</a>
                                    {% endif %}
                                </div>
                                <div id="next">
                                    {% if next_lecture %}
                                    <a class="btn btn-success" href="?lecture={{next_lecture}}">Next</a>
                                    {% else %}
                                    <a class="btn btn-success disabled">Next</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <ul id="lesson_list" class="list-group overflow-y-scroll">
                            <div id="accordionCurriculum">
                                {% for lesson in course.lesson_set.all %}
                                    <div class="border rounded shadow-sm mb-3 overflow-hidden">
                                        <div class="d-flex align-items-center" id="curriculumheading{{ lesson.id }}">
                                            <h5 class="mb-0 w-100">
                                                <button class="d-flex align-items-center p-3 min-height-60 text-dark fw-medium collapse-accordion-toggle line-height-one" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLesson{{ lesson.id }}" aria-expanded="false" aria-controls="collapseLesson{{ lesson.id }}">
                                                    {{ lesson.title }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseLesson{{ lesson.id }}" class="collapse" aria-labelledby="curriculumheading{{ lesson.id }}">
                                            {% is_enrolled request course as enrolled %}
                                            {% for video in lesson.video_set.all %}
                                                <div class="border-top px-3 py-2 d-md-flex align-items-center">
                                                    <div class="d-flex align-items-center me-auto mb-2 mb-md-0">
                                                        <div class="ms-2">
                                                            <li
                                                            class="list-group-item {% if video == video %} active-video {% endif %} ">
                                                            <a class="
                                                            
                                                            {% if not enrolled and not video.is_preview %} text-muted no-preview {% endif %}
                                                            {% if video == video %} active-video-link {% endif %}
                                                            
                                                            " href="?lecture={{video.serial_number}}">
                                                                {{video}}
                                                            </a>
                                                            </li>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <!-- Section for Quizzes -->
                                            <div class="mt-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Quizzes</h5>
                                                        <p class="card-text">
                                                            <ul>
                                                                {% is_enrolled request course as enrolled %}
                                                                {% if not enrolled %}
                                                                    {% for quiz in lesson.quizzy_set.all %}
                                                                        <li><a class="text-muted no-preview" href="{% url 'check-out' slug=course.slug %}">{{ quiz.title }}</a></li>
                                                                    {% endfor %}
                                                                {% else %}
                                                                    {% for quiz in lesson.quizzy_set.all %}
                                                                        <li><a href="{% url 'question-list' quizzy_id=quiz.id %}">{{ quiz.title }}</a></li>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </ul>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text">{{ course.description }}</p>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Prerequisite</h5>
                        <p class="card-text">
                            <ol>
                                {% for pre in course.prerequisite_set.all %}
                                    <li class="">{{ pre.description }}</li>
                                {% endfor %}
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Learnings</h5>
                        <p class="card-text">
                            <ol>
                                {% for learn in course.learnings_set.all %}
                                    <li class="">{{ learn.description }}</li>
                                {% endfor %}
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
