{% extends "courses/base.html" %} 
{% load course_custom_tags %}
{%block title%} 
Courses
{%endblock%} 
{%block content%}

<style>
    .price{
        font-size:20px;
    }
</style>

<div class="container-fluid">
    <div class="row">
    {% for course in courses %}
    <div class="col mx-auto">
        <br>
        <br>
        <div class="card mx-auto" style="width: 25rem;">
            <img src="{{course.thumbnail.url}}" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">{{course.name}}</h5>
              <p class="card-text">
                <p>Save {{course.discount}}%</p>
                <p class="price">
                    <del>
                        {{course.price|usd}}
                    </del>
                    &nbsp;
                    <span> {% cal_sellprice course.price course.discount as value%} {{value|usd}}</span>
                </p>
              </p>
            </div>
            <div class="card-footer p-0 position-relative">
                {% is_enrolled request course as enrolled %}
                <div class="row gx-0">
                    {% if enrolled %}
                        <a href="/course/{{ course.slug }}" class="btn w-100">
                            Start Course
                        </a>
                    {% else %}
                        <div class="col-6">
                            <a href="/check-out/{{ course.slug }}" class="btn w-100">
                                Enroll Now
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="/course/{{ course.slug }}" class="btn w-100">
                                Show More
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
